<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/scrabble/chart'>Word Chart</a></li>
        <li><a href='/scrabble/score'>Score a Word</a></li>
      </ul>
    </nav>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="http://www.cat-gifs.com/w3/CAT-GIF-Cute-scrabble-Kitten-scores-9-points-with-MEOW.gif" alt="cute cat saying meow with scrabble tiles">
  </body>
</html>
