<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href='/'>Home</a>
      <a href='/scrabble/chart'>Word Chart</a>
      <a href='/scrabble/score'>Score a Word</a>
    </nav>
    <h1><%= title %></h1>
    <p>Your word is <%= word %></p>
    <p>Score: <%= score %></p>
  </body>
</html>
